.videoform{width:100%; clear:both; margin:0; display:block;background:#f9f9f9; border: 1px solid #dddd; padding:10px 30px 15px;}
h2{margin:0; padding:0; width:100%; clear:both;}
.img_preview{width:100%; clear:both; display:block; height:100%; 
img{width:100%; height:auto; border:1px solid #ccc; background-color:#fff; padding:5px; }
}
.loading{width:100%; display:flex; float:left; clear:both; align-items:center; justify-content:center; }

.table {
  th:nth-child(1), td:nth-child(1){width:10%;}
  th:nth-child(2), td:nth-child(2){width:40%;}
  th:nth-child(3), td:nth-child(3){width:30%;}
  th:nth-child(4), td:nth-child(4){width:20%;}
  .photo img{max-width:150px; max-height:60px; border:1px solid #ccc; padding:5px; background-color:#fff;}
}
