.cropper_dialog{width:100%; clear:both; display:block; float:left;
img{width:100%; display:block; max-width:100%; border:1px solid #ccc;}
image-cropper{border:1px solid #ccc;}
}
.mat-dialog-title{border-bottom:1px solid #ccc;}