
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
      <a class="navbar-brand" routerLink="/dashboard">Om Production House</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">         
          
        </ul>
        <a routerLink="/"><i class="fa fa-sign-out"></i>&nbsp;Logout</a>
      
      </div>
    </div>
  </nav>

  <div class="container admin_panel">  
<div class="row">
  <div class="col-md-3">
    <a routerLink="/edit/home">
    <div class="box">
      <i class="fa fa-home"></i>
      <h3>Home</h3>
    </div>
    </a>
  </div>
   <div class="col-md-3">
      <a routerLink="/edit/about">
     <div class="box">
       <i class="fa fa-address-card-o"></i>
       <h3>About</h3>
     </div>
     </a>
   </div>
    <div class="col-md-3">
      <a routerLink="/edit/services">
      <div class="box">
        <i class="fa fa-cog"></i>
        <h3>Services</h3>
      </div>
      </a>
    </div>
     <div class="col-md-3">
       <a routerLink="/edit/equipments">
       <div class="box">
         <i class="fa fa-wrench"></i>
         <h3>Equipments</h3>
       </div>
       </a>
     </div>
</div>

<div class="row">
  <div class="col-md-3">
    <a routerLink="/edit/institute">
    <div class="box">
      <i class="fa fa-university"></i>
      <h3>Institute</h3>
    </div>
    </a>
  </div>
  <div class="col-md-3">
    <a routerLink="/edit/contact">
    <div class="box">
      <i class="fa fa-envelope-o"></i>
      <h3>Contact</h3>
    </div>
    </a>
  </div> 
</div>
</div>
